body {
    background-image:  url('../images/img-portada.jpeg');
    background-repeat:  repeat-y;
}

form {
    margin:  0 auto;
    width:  550px;
}

.button {
    padding:   15px 32px;
    text-align:  center;
    display:  inline-block;
    font-size:  16px;
    margin:  4px 2px;
    cursor:  pointer;
    background-color:  white;
    border:  2px solid #008cba;
}

textarea {
    background-color:  gray;
    border:  2px solid #008cba;
}

table, th, td {
  border:  1px solid black;
  border-collapse:  collapse;
  width:  100%;
  background-color:  #f1f1c1;
  color:  white;
}
th, td {
  padding:  15px;
  text-align:  left;
  color:  black;
  width:  25%;
}

.myDiv {
  border:  px outset red;
  background:  rgba(76, 175, 80, 0.3);
  text-align:  center;
}